@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
/* @plugin '@tailwindcss/aspect-ratio'; */
@plugin '@tailwindcss/container-queries';

@theme {
	
	--color-avocado-100: oklch(0.99 0 0);
	--color-avocado-200: oklch(0.98 0.04 113.22);
	--color-avocado-300: oklch(0.94 0.11 115.03);
	--color-avocado-400: oklch(0.92 0.19 114.08);
	--color-avocado-500: oklch(0.84 0.18 117.33);
	--color-avocado-600: oklch(0.53 0.12 118.34);

	--font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--breakpoint-xs: 475px;
	--breakpoint-3xl: 1920px;
}

@layer base {
	/* inter-latin-wght-normal */
	@font-face {
		font-family: 'Inter Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 100 900;
		src: url(@fontsource-variable/inter/files/inter-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	html,
	body,
	body > div {
		height: 100%;
	}
}

@layer base {
	@font-face {
		font-family: 'Matter';
		src: url('/fonts/Matter-Regular.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Matter-Semibold';
		src: local('Matter Semibold'), local('Matter-Semibold'), local('matter semibold'),
			local('matter-semibold'), url('styles/fonts/Matter-Semibold.ttf');
		font-weight: 500;
		font-display: swap;
	}
	@font-face {
		font-family: 'Reckless';
		src: url('/fonts/Reckless-Light.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Reckless-Light';
		src: local('Reckless Light'), local('Reckless-Light'), local('reckless light'),
			local('reckless-light'), url('styles/fonts/Reckless-Light.ttf');
		font-weight: 300;
		font-display: swap;
	}
	
}

body {
	background-color: #113B49;
	color: #fff;
    font-family: 'Matter';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .glass {
	background-image: linear-gradient(273deg, rgba(217, 217, 217, 0.25) 107%, rgba(217, 217, 217, 0) 97.04%);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }